@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --bg: #0c0e23;
    --card-bg: #1b1d31;
    --accent: #910ddd;
    --border: rgba(255, 255, 255, 0.1);
    --font-display: "Costaline", -apple-system, Roboto, Helvetica, sans-serif;
    --font-body: "Inter", -apple-system, Roboto, Helvetica, sans-serif;
    --card-next-offset: 0px;
    --card-span-margin: 0px;
}

.hotkey {
    display: inline-flex;
    align-items: center;
    gap: 28px;
    overflow: hidden;
}

.hotkey-key {
    display: flex;
    min-width: 75px;
    padding: 18px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--border);
    background: var(--card-bg);
    overflow: hidden;
    position: relative;
}

.hotkey-key-label {
    flex: 1 0 0;
    color: #FFF;
    text-align: center;
    font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    position: relative;
}

.hotkey-name {
    color: #FFF;
    text-align: center;
    font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    position: relative;
}
