.layer-card {
    --shape-outline: rgba(255, 255, 255, 0.10);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 59px;
    width: 644px;
    padding: 43px 69px;
    border-radius: 8px;
    border: 1px solid var(--shape-outline);
    background: #1B1D31;
}

.viewfinder {
    display: flex;
    gap: 28px;
    flex-direction: row;
    align-items: center;
    width: 506px;
    height: 239px;
    border-radius: 8px;
    border: 1px solid #313345;
    background: #0C0E23;
    position: relative;
}

.timeline {
    position: relative;
    width: 506px;
}

.layers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
    left: 0;
    top: 5px;
    width: 506px;
}

.timeline-nav {
    position: relative;
    align-self: stretch;
    height: 47px;
    border-radius: 8px;
    border: 1px solid var(--shape-outline);
    background: rgba(255, 255, 255, 0.05);
}

.layer {
    position: relative;
    width: 178px;
    height: 47px;
    border-radius: 8px;
    border: 1px solid var(--shape-outline);
}

.playhead-wrapper {
    position: absolute;
    left: -105px;
    top: -2px;
    width: auto;
    height: auto;
    pointer-events: none;
}